body{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

ol{
    list-style-type: disc;
}

figure{
    width: 200px;
    margin: 40px;
}

span{
    font-weight: bold;
    font-style: italic;
}

.main-data{
    width: 1000px;
    border: 5px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.data{
    display: block;
    box-sizing: border-box;
    width: 600px;

}

.value-text{
    display: block;
    width: max-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

